<h2> Edit HTML header </ h2>

Let's edit the HTML header.

The HTML header is the part where the title, meta tag, CSS, JavaScript loading, etc. are written.

<pre>
<head>
   <!-HTML header->
</ head>
</ pre>

It has a similar name to the <a href="/blog/20190417121540.html"> header </a> but is different.

The HTML header is written in the following file.

<pre>
templates / common / meta.html
</ pre>

Let's open this file.

The HTML header of the website created by Giblog is as follows.

<pre>
<!-Meta->
<meta charset = "UTF-8">
<meta name = "viewport" content = "width = device-width, initial-scale = 1.0, minimum-scale = 1.0">
<link rel = "stylesheet" type = "text / css" href = "/ css / common.css">
</ pre>

If you want to edit the HTML header, try changing this part.