<h2> Why don't you write a technical blog on Giblog </ h2>

Why not write a technical blog on Giblog? It will be a portfolio that shows your ability and motivation as an engineer.

<h3> Create a portfolio that shows your ability and motivation as an engineer </ h3>

I have a recruitment pamphlet for several companies, but it says "a positive person" as the person I'm looking for.

Even if I say I'm positive, how can I tell the employers of the company?

You don't know if it's true just by saying it, right?

One way is to publish what you are doing on the web.

Starting a free blog and writing what you've learned there is a good way for others to know what you're doing from the outside.

If you write about programming and IT technology on your blog, you can see from the outside what you have done as an engineer and whether you can build an environment or code.

The number of engineers who voluntarily output on the blog should be 1 in 10.

In addition, even fewer people create their own websites, acquire domains, and output.

From the perspective of the hiring manager of a company, even if they say, "I am motivated. I can make it." ..

Japanese companies can't easily dismiss a person, so before hiring, I want to know if the person is positive and has the ability to make a product.

If you create a technical blog and output it, your skills will improve steadily.

You will actually improve your basic coding skills and the ability to build an environment.

Creating a blog and outputting it has the two effects of "improving your skills" and "making it easier for you to discover yourself."

If you create a website with Giblog, you will at least know that you are the one who can create your own website.

Unlike other people who do nothing to output, you can guarantee the minimum ability.

Why not use Giblog to create a portfolio as an engineer so recruiters can discover your positiveness and strength?

<h3> How about on a corporate engineer's blog </ h3>

I have one problem. Now, there is something that job seekers want to count on when looking for a company.

Of course, the treatment aspect is important, but it means that you do not know what the company is doing.

The problem for job seekers is that they can't see what the company's engineers are actually doing.

It's hard to imagine programming itself, but it's also very hard to see what you're actually doing with programming.

How about creating a technician blog to actually discover and get interested in it?

Isn't it costing you a lot of effort and money to find your company, get job seekers interested, apply for it, and hire it?

It's hard to reach the desired matching.

Why don't you create a company technician blog with Giblog? By disseminating information, there is a big merit that you will be discovered, interested, and close to the matching you want. ..