<h2> Why Giblog web pages are so high performance </h2>

Web page responses created with Giblog are high performance.

<h3> Why Giblog's web page responds so quickly </h3>

The reason Giblog's web pages are so responsive is that Giblog generates static HTML.

In the case of a dynamic CMS tool, the program runs every time it is executed.

Running the program costs more in performance than simply returning static HTML to the web server.

If you add a plugin or other user program to a dynamic website, the website will slow down each time you add the plugin.

Giblog statically generates a web page and turns it into an HTML file, so there is no run-time cost, which is the same as the cost for Apache and Nginx to return static HTML.

The static HTML file has a fast response because the cache on the Web server side also works until the information is new.

<h3> No need for difficult settings </h3>

Giblog provides the best performance by simply placing the file in the document root of the web server with git clone.

In the case of a dynamic CMS tool, if the operation was working with CGI, change to a reverse proxy configuration and do something like performance improvement in order to improve performance as access increases. I will.

Giblog statically generates HTML, so it has the fastest performance from the beginning.