<h2> Edit the header </h2>

Let's edit the header. The header is the top part of your website.

This is where the site title, brief description, menus, etc. are displayed.

The header is written in the following file.

<pre>
templates / common / header.html
</pre>

If you want to change the header, open this file and edit it.

<h3> Header editing sample </h3>

This is a sample of header editing.

The header of "Create a website with Perl" is as follows (April 2019).

<pre>
<!-header-><h1>
  <a href="/"> Create a website with Perl</a>
</h1>
<div class = "site-description">
  Let's create a website with Perl. Information dissemination using blogs and product introduction on websites.
</div>
<div class = "site-description">
Learn how to publish your site, such as rental server, domain acquisition, SSL, etc.
</div>
</pre>

If you want to edit the site title

<pre>
<h1>
  <a href="/"> Create a website with Perl</a>
</h1>
</pre>

Change the character string in the a tag of.