<h2> Giblog is compatible with Windows, Mac OS and Linux </h2>

Giblog is compatible with Windows, Mac OS and Linux. We also support development on local PCs on Windows and Mac OS, and development on remote servers on Linux such as Debian, Ubuntu, CentOS, and Red Hat.

<h3> Windows support </h3>

On Windows, you can use Giblog by installing a tool called msys2 that reproduces a pseudo Linux environment.

The installation method and how to use Giblog are explained below.

<a href="/blog/20190416153053.html"> Create an environment for creating websites on Windows</a>

<h3> Mac OS support </h3>

Perl is installed by default on Mac OS, so you can start using it as is. Also install Mojolicious, which is required for automatic rebuilding of HTML files.

<pre>
cpanm Mojolicious
</pre>

In recent Mac OS, there is a problem that Perl modules cannot be installed correctly depending on the version, and in the future, there is a policy that the scripting language including Perl will not be provided by default. Listen.

If you want to make sure the installation is successful, use Perl built in your local environment. Use tools such as perlbrew and plenv to build Perl in your local environment.

<ul>
  <li> <a href="https://perlzemi.com/blog/20110220130464.html"> perlbrew --Install Perl in your environment</a> </li>
  <li> <a href="https://perlzemi.com/blog/20180816153437.html"> plenv --Install Perl in your environment</a> </li>
</ul>

Both are similar tools, so choose your favorite.

After this, execute the following command to install Giblog. Also install Mojolicious, which is required for automatic rebuilding of HTML files.

<pre>
cpanm Giblog
cpanm Mojolicious
</pre>

<h3> Linux support </h3>

You can also SSH into a Linux server such as Debian, Ubuntu, CentOS, RedHat and develop in a remote environment.

When developing in a remote environment, I think that there are many cases where you want to develop in a user environment.

In that case, use Perl built in your local environment. It's okay to use tools such as perlbrew and plenv that build Perl in your local environment.

<ul>
  <li> <a href="https://perlzemi.com/blog/20110220130464.html"> perlbrew --Install Perl in your environment</a> </li>
  <li> <a href="https://perlzemi.com/blog/20180816153437.html"> plenv --Install Perl in your environment</a> </li>
</ul>

Both are similar tools, so choose your favorite.

After this, execute the following command to install Giblog. Also install Mojolicious, which is required for automatic rebuilding of HTML files.

<pre>
cpanm Giblog
cpanm Mojolicious
</pre>