<h2> Edit the bottom part of the article </ h2>

Let's edit the bottom part of the article.

The bottom of the article is the bottom part of the article.

You can make announcements and place advertisements.

The lower part of the article is written in the following file.

<pre>
templates / common / bottom.html
</ pre>

Let's open this file.

The bottom part of the article on the website created by Giblog is as follows.

<pre>
<!-bottom->
</ pre>

If you want to edit the bottom part of the article, try changing this part.