<h2> Edit the upper part of the article </ h2>

Let's edit the upper part of the article.

The top of the article is the top part of the article title.

You can make announcements and place advertisements.

The upper part of the article is written in the following file.

<pre>
templates / common / top.html
</ pre>

Let's open this file.

The upper part of the article on the website created by Giblog is as follows.

<pre>
<!-top->
</ pre>

If you want to edit the upper part of the article, change this part.