<h2> You can set up an inquiry form on the website created by Giblog </h2>

Giblog is a static CMS generation tool, but you can set up a contact form.


<div style = "text-align: center">
  <a href="/mail.html"> Contact form sample</a>
</div>
<div style = "text-align: center">
  <a href="/mail.html"> <img src = "/ images / otoiawase-example.png" style = "border: 1px solid #ddd; width: 80%;"></a>
</div>

The contact form is not included in the Giblog itself.

As a static CMS tool, Giblog is preparing a mechanism to embed CGI forms in the Giblog website.

For the actual CGI form configuration, see the following two files in the repository on the official Giblog site.

<a href="https://github.com/yuki-kimoto/giblog-website/tree/master/templates"> Giblog official website inquiry form</a>

<pre>
templates / mail.html
template / static / mail.cgi
</pre>

You can copy the Giblog website as it is with "git clone", but if you want to save only the inquiry form, save it with the permission of the CGI program of 755 and the line feed code of LF.

<h3> Mechanism for embedding an inquiry form on a website </h3>

Giblog realizes the CGI inquiry form that can be embedded in the website by the following method.

<h4> The contact form is a simple HTML template </h4>

The contact form is a simple HTML file.


<pre>
templates / mail.html
</pre>

The mail form is described using the HTML form tag.

It is wrapped with the same structure as normal content such as header and footer.

<h4> CGI program to send emails </h4>

<pre>
template / static / mail.cgi
</pre>

Is a CGI program that sends emails.

<h4> Call CGI with Ajax communication </h4>

JavaScript is described in "mail.html", and "mail.cgi" is called by Ajax communication.

In this way, we have realized how to embed the contact form in the website.

<h3> Can I create a form created with CGI other than the inquiry form? </H3>

Yes. Everything you can do with a CGI program, such as a board for exchanging messages and a survey form, is feasible.

<h3> What kind of environment does it work in? </H3>

We are assuming a rental server that supports CGI.

<h3> What will happen to the security if I install the CGI form? </H3>

The security of installing a CGI form depends on whether the CGI is vulnerable.

If security is a priority over the contact form being integrated with the site, make the site completely static and <a href="https://www.google.com/intl" You can also use external web services such as / ja_jp / forms / about / "> google forms</a>.

<h3> Can I use an existing CGI program? </H3>

It seems that almost all existing CGI programs are configured so that HTML forms are written inside the CGI program.

So unfortunately it will be difficult to reuse.

If the HTML form and the CGI program are separated and the Ajax communication is performed in the CGI program, I think it is easy to reuse.