<h2> Use a JavaScript library such as jQuery </ h2>

Let's place and use a JavaScript library such as jQuery.

Websites created with Giblog can use JavaScript in static CMS.

Here, let's use jQuery as an example.

The method is to download jQuery, place it, and use it.

<blockquote>
<a href="https://jquery.com/download/"> jQuery official website-download </a>
</ blockquote>

Pay attention to the following part at the top of the site.

<pre>
Download the compressed, production jQuery 3.4.1
</ pre>

The May 8, 2019 version is 3.4.1.

Right-click on this link and save it as a name.

The name should be something like "jquery-3.4.1.min.js".

JavaScript allows you to use dynamic expressions on your site.

<h3> Place the JavaScript library </ h3>

First, you need to deploy the JavaScript library.

Let's assume that the saved name is "jquery-3.4.1.min.js" and place it in the following directory.

<pre>
templates / static / js
</ pre>

<h3> Load the JavaScript library </ h3>

Next you need to load the JavaScript library. The JavaScript library needs to be loaded before it can be used.

It is recommended to load it in the head section of HTML. Write it in the following file.

<pre>
templates / common / meta.html
</ pre>

Open the file and write the following line.

<pre>
<script src = "/ js / jquery-3.4.1.min.js"> </ script>
</ pre>

JavaScript can be read with a script tag, and the path is described in the src attribute.

<h3> "Hello" with jQuery </ h3>

Next, let's actually use jQuery.

Try opening your favorite content, such as blog posts or index.html.

At the top of this, write:

<pre>
<script>
  $ (function () {
    alert ('Hello');
  });
</ script>
</ pre>

It's written in jQuery syntax.

When you open the page where this JavaScript is written, the message box "Hello" is displayed.