<h2> Create a table </h2>

Sometimes you want to create a table when comparing products and services. In this case, use a function called HTML table.

<table>
  <tr>
    <td> Service </td> <td> Price </td> <td> Capacity </td> <td> File Placement </td> <td> CGI </td> <td> Free SSL </td>
  </tr>
  <tr>
    <td> <a href="/blog/20190427161103.html"> Sakura rental server <br> Light</a> </td> <td> 129 yen </td> <td> 10G </td> <td > FTP </td> <td> <i> Possible </i> </td> <td> 〇 </td>
  </tr>
  <tr>
    <td> Sakura Rental Server <br> Standard </td> <td> 515 Yen </td> <td> <i> 100G </i> </td> <td> FTP / <i> git </i> > / rsync </td> <td> <i> Possible </i> </td> <td> 〇 </td>
  </tr>
  <tr>
    <td> Gitdub Pages </td> <td> <i> Free </i> </td> <td> 1G </td> <td> <i> git </i> </td> <td> Impossible </td> <td> 〇 </td>
  </tr>
</table>

HTML for the table.

<pre>
<table>
  <tr>
    <td> Service </td> <td> Price </td> <td> Capacity </td> <td> File Placement </td> <td> CGI </td> <td> Free SSL </td>
  </tr>
  <tr>
    <td> <a href="/blog/20190427161103.html"> Sakura rental server <br> Light</a> </td> <td> 129 yen </td> <td> 10G </td> <td > FTP </td> <td> <i> Possible </i> </td> <td> 〇 </td>
  </tr>
  <tr>
    <td> Sakura Rental Server <br> Standard </td> <td> 515 Yen </td> <td> <i> 100G </i> </td> <td> FTP / <i> git </i> > / rsync </td> <td> <i> Possible </i> </td> <td> 〇 </td>
  </tr>
  <tr>
    <td> Gitdub Pages </td> <td> <i> Free </i> </td> <td> 1G </td> <td> <i> git </i> </td> <td> Impossible </td> <td> 〇 </td>
  </tr>
</table>
</pre>

We will add table designs for smartphones in the future.

<h3> Reference </h3>

If you want to know the basics of HTML such as table tag, please refer to the following articles.

<a href="/blog/20190509080855.html"> HTML basics for creating websites</a>