<h2> Create a corporate site with Perl </ h2>

If you want to create a corporate site in Perl, you can also create it using Giblog. This is convenient when you want to easily create a company site or manage it easily.

<blockquote>
<a href="/"> Create a website with Perl </a>
</ blockquote>

Creating a Website with Perl provides a detailed explanation of how to create a blog and website using a static HTML configuration tool from the basics.

On the corporate site, you will create product and service introductions, company profiles, employee profiles, inquiry forms, access, etc.

<ul>
  <li> Introduction of products and services </ li>
  <li> Company profile </ li>
  <li> Greetings from the President </ li>
  <li> Employee profile </ li>
  <li> Inquiry Form </ li>
  <li> Access </ li>
  <li> Top page </ li>
  <li> Logo creation </ li>
  <li> Common header / footer </ li>
  <li> Create menu bar </ li>
  <li> Add content </ li>
  <li> JavaScript can be used </ li>
</ ul>


We will also introduce a sample of the pages required on the corporate site in the future.