<h2> Giblog's strong security </h2>

Gitblog has strong security. Giblog will generate your website as static HTML.

<h3> Strong security with static sites </h3>

In other words, there are no potential tool vulnerabilities or plugin vulnerabilities in dynamic website creation tools.

Giblog adopts the method of first creating a website in the development environment and then deploying it in the production environment using git.

When generating a web page, the program does not work, but an HTML file is created in advance and copied, so a web server such as Apache, which is a rental server, delivers the HTML file.

In other words, the rental server side is responsible for vulnerability countermeasures for static file distribution.

<h3> What happens if PHP or CGI such as inquiry form is installed </h3>

If PHP or CGI such as an inquiry form is installed on the rental server, a security risk will occur on the page using PHP or CGI.

Since the installed PHP or CGI is not a function of Giblog itself, there is a security risk that can occur in PHP or CGI.

This is a normal security risk that arises when running dynamic programs on your website.

Make your website completely static and use form services such as <a href="https://www.google.com/intl/ja_jp/forms/about/"> google forms</a>, There is also a safer way.

If you accept the security risk and want to complete it completely on your site, use the PHP or CGI contact form. If you want to accept the use of form services such as google forms and reduce security risks, you can make your website completely static and secure.