<h2> Create an environment for creating websites on Windows </h2>

Let's first create an environment for creating a website on Windows.

The explanation is based on the assumption of "Windows 10 64bit", but it will be configured to work on Windows 8 and Windows 7 32bit (planned).

Creating an environment can be difficult at first.

If you follow the procedure, you can create an environment, so you can leave it unclear at first.

Here, I will explain up to the point of completing the blog.

You can create the following blog.

<ul>
  <li> <a href="https://metacpan.org/pod/Giblog/"> Giblog - Blogging tool for the git generation </li>
  <li> <a href="https://perlzemi.com/"> Perl Zemi - Learn Perl</a> </li>
</ul>

Websites created with Giblog are created using the same procedure.

These sites are blogs, but don't worry, it's easy if you want to create a regular website.

<a href="https://twitter.com/perlzemi"> Perl Seminar Twitter</a>, if you tell me that this isn't working, I'll answer.

Now let's move on to building the environment.

<h3> Install msys2 on Windows </h3>

First, install a tool called msys2 on Windows.

<b> msys2 screen </b>
<div>
  <img src = "/ images / msys2.png">
</div>

What is this pitch-black screen? I'm a little surprised.

To explain a little, I will create a website by typing characters called commands on this black screen.

<b> If you want to create a blog </b>

<pre>
giblog new_blog mysite
</pre>

<b> If you want to create a simple website </b>

<pre>
giblog new_website mysite
</pre>

Run the above command to complete your website. The above command is written in Perl and will create an environment to execute it.

You can think of msys2 as a tool for executing commands like the one above.

I think it says "What is a command?", But it's okay now.

<h3> 10 minutes to install msys2 </h3>

Download and install msys2.

<h4> Download msys2 </h4>

Let's install msys2. Use the 64-bit version of msys2 for 64-bit Windows, and the 32-bit version of msys2 for 32-bit Windows.

How to check (<a href="https://121ware.com/qasearch/1007/app/servlet/relatedqa?QID=011799"> Windows 7</a>, <a href="https://pc-karuma" .net / windows8-32bit-64bit-check / "> Windows 8</a>, <a href="https://pc-karuma.net/windows10-32bit-64bit-check/"> Windows 10</a> >)

Download msys2.

<ul>
  <li>
    <a href="https://sourceforge.net/projects/msys2/files/Base/x86_64/"> 64-bit version-msys2-x86_64-date.exe</a>
  </li>
  <li>
    <a href="https://sourceforge.net/projects/msys2/files/Base/i686/"> 32-bit version --msys2-i686-date.exe</a>
  </li>
</ul>

At the top is the latest version. Click to download msys2 to your desktop.

<h4> Confirm user name </h4>

Make sure that the user directory under "C: \ Users" (Japanese display is C: \ users) in Windows is in English as shown below.

<pre>
kimot
</pre>

If it is in Japanese as shown below, additional settings are required.

<pre>
Kimoto
</pre>

If it is in Japanese, before installing msys2, set the variable name to "HOME" and the variable value to "C: \ msys64 \ home \ msys2user" in the environment variable settings. .. If it was in English, skip the steps below.

<table>
  <tr>
    <td> variable name </td>
    <td> variable value </td>
  </tr>
  <tr>
    <td> HOME </td>
    <td> C: \ msys64 \ home \ msys2user </td>
  </tr>
</table>

For a 32-bit environment, set as follows.

<table>
  <tr>
    <td> variable name </td>
    <td> variable value </td>
  </tr>
  <tr>
    <td> HOME </td>
    <td> C: \ msys32 \ home \ msys2user </td>
  </tr>
</table>

Please refer to the following for the procedure.

<ul>
  <li> <a href="https://www.k-cube.co.jp/wakaba/server/environ.html"> Open the environment variable setting screen (7, 8, 10)</a>
  <li> <a href="http://www.wannko.net/windows10/etc/kankyo.html"> Add environment variables</a>
</ul>

The above directory is set as the home directory of msys2.

A directory called "msys2user"

<h4> Install msys2 </h4>

Double-click the msys2 icon on your desktop.

Press Next to start the installation. It will take about 3 minutes, so let's wait.

When you press Finish, msys2 will start, but let's press the cross on the upper right to end it.

<h4> The second and subsequent boots of msys2 </h4>

Once you close msys2, you're wondering where to start next.

If you look for the table of contents of m from the list of applications in the Windows Start-Menu, you will find the directory "MSYS2 64bit".

In it

<ul>
  <li>
    MSYS2 MinGW 64bit
  </li>
  <li>
    MSYS2 MINGW 32bit
  </li>
  <li>
    <b> MSYS2 MSYS </b>
  </li>
</ul>

However, let's start <b> "MSYS2 MSYS" </b>. There are three types of startup scripts in msys2, but in this case creating a website in Perl, select "MSYS2 MSYS".

Please note that if you make a mistake, the Perl environment will not be set up correctly.

The other two seem to be used when developing Windows native apps.

It is convenient to start by creating a shortcut on the desktop. In that case, right-click, "Other", "Open File Location", "Right-click" and "Copy" "MSYS2 MSYS", and then "Paste" on the desktop.

thank you for your hard work. Installation of msys2 is complete.

Next, on a black screen, execute commands to create an environment where Perl can be executed. After that, it's half.

<h3> Perl environment construction 20 minutes </h3>

Make Perl available on msys2. Let's install Perl and the list of development environments required by Perl together.

<pre>
pacman -S perl perl-CPAN msys2-devel make libcrypt-devel git
</pre>

Copy the above and select "Right click"->"Paste" in msys2 to paste it. Press Enter to execute the above command.

You will be asked if you want to install it, so press "Enter" to proceed. No matter what you ask, just press "Enter".

The following will be installed. This is the minimum environment required for Perl to work properly.

<ul>
  <li>
    perl (perl)
  </li>
  <li>
    cpan (perl-CPAN)
  </li>
  <li>
    gcc (msys2-devel)
  </li>
  <li>
    make (make)
  </li>
  <li>
    crypt.h (libcrypt-devel)
  </li>
</ul>


pacman is a package manager for msys2. Package manager is a tool provided for installing and managing tools for creating an environment.

<b> Now press the cross on the upper right once to close the terminal and restart "MSYS2 MSYS". If you don't do this, your PATH settings will be incorrect and the cpan command will not work properly. </b>

Make sure you have Perl installed.

<pre>
perl -v
</pre>

If you see the following, it is installed. The version may be new.

<pre>
This is perl 5, version 24, subversion 4 (v5.24.4) built for x86_64-msys-thread-multi
</pre>

<h4> Website creation tool </h4>

Install the Perl libraries "Giblog" and "Mojolicious" as website creation tools.

Some Perl libraries are expected to work in Unix / Linux environments. Make sure the symbolic link works properly on msys2 with the following settings.

<pre>
export MSYS = winsymlinks
</pre>

Copy and paste the above and press Enter.

Then install the Perl library with the following command.

<pre>
cpan Giblog
cpan Mojolicious
</pre>

The first time you'll be asked if you want to set cpan automatically, press Enter to proceed. No matter what you ask, just press "Enter".

If this installation is confirmed, the environment construction work is completed.

<h3> Creating a website </h3>

I'm finally here. Finally, let's create a website.

You can create a website with the following command.

<b> If you want to create a blog </b>

<pre>
giblog new_blog mysite
</pre>

<b> If you want to create a simple website </b>

<pre>
giblog new_website mysite
</pre>

After creating a website, the created web siteLet's check it from your browser.

You can see the website with the following command.

<pre>
cd ~ / mysite
morbo serve.pl
</pre>

When you run the command, you should see something like this:

<pre>
Server available at http://127.0.0.1:3000
</pre>

In the address field of a web browser such as Internet Explorer, Firefox or Chrome

<pre>
http://127.0.0.1:3000
</pre>

Please enter.

I was able to confirm the created blog.

Congratulations!

After this, you can edit the site and add articles.

<h3> Troubleshooting </h3>

If the msys2 installation or Perl installation procedure fails, the virus checker (Avast, McAfee, Norton, etc.) may falsely detect msys2 as virus software.

Also, depending on the virus checker, it may not be possible to execute with administrator privileges.

If you encounter this issue, temporarily stop the virus checker and right-click "Run as administrator" before launching the msys2 installer.

If you are using Windows 10, you can install it without any problem by using the default virus software, Windows Defender.

<h3> Please </h3>

msys2 is updated regularly and the package name and update command change, so if this procedure doesn't work, <a href="https://github.com/yuki-kimoto/perlzemitut"> repository </strong> Please let us know on a> or <a href="https://twitter.com/perlzemi"> Perl seminar Twitter</a>.