<h2> FAQ Frequently Asked Questions </h2>

<h3> Please tell me how all articles are automatically reconstructed with just morbo serve.pl </h3>

morbo is the development server for Perl's web framework <a href="https://github.com/mojolicious/mojo"> Mojolicious</a>.

morbo will restart itself if the files under "templates" are updated.

At this restart timing, the rebuild command "giblog build" is being executed.

<h3> Why is rebuilding so fast? Rebuilding hundreds of articles takes less than a second. </h3>

In a typical server benchmark conducted by the Perl seminar, the rebuild of 645 pages is completed in 0.78 seconds.

This is because Perl itself has good text processing performance, and it processes only the minimum necessary.

<h3> What are the benefits of statically creating blogs and dynamically creating blogs? </h3>

<b> In "Create a personal site with Perl", you have selected the method of statically creating a blog </b>.

The biggest advantage of statically creating a blog is that you can save all your articles as just a file.

Placing images and JavaScript is just a file.

If you want to publish your site, just place the file on your hosting server and you can start your personal site.

Deploying to a public server is very easy with a version control system called git.

<b> A typical blogging tool called "WordPress" chooses how to create a blog dynamically </b>.

The main advantage of dynamically creating a blog is that it works well with screen-based editing.

You can edit it from your browser and update the article immediately.

As the number of articles increases, the rebuilding time will not increase.

You can write the program in the article itself.

It is also attractive that many plugins are prepared to add functions.

<h3> Is it possible to create a corporate site? </H3>

Since the corporate site is a self-introduction of the company, it can be created by following the procedure for creating a website using Gitblog.

<a href="/blog/20190514081022.html"> Create a corporate site with Perl</a>