<h2> Add a blog post </ h2>

Let's add a blog post. If you want to write a new article on your blog, run the following command:

Let's assume that a site has been created in your home directory with the name "mysite".

First, use the cd command to change to your site's directory.

<pre>
cd ~ / mysite
</ pre>

Once in the directory, use the "giblog add" command to add a blog post.

<pre>
giblog add
</ pre>

Then, the following message will be displayed.

<pre>
Create templates / blog / 20190423082921.html
</ pre>

An HTML file will be created with today's date and time.

This file is empty, so open it in a text editor and edit it.

Let's write an article title and a brief article.

<pre>
<h2> I ate oranges today </ h2>

The oranges I ate today were very sweet and delicious.

I ate Mitsu too.

</ pre>

Write the title inside the "h2" tag. Write the text paragraph by paragraph as above.

As a caveat, do not put a half-width space at the beginning.

This is because if you insert a half-width space at the beginning, the automatic line feed function will be disabled.

After adding the article, launch the site with the following command and check it.

If the characters are garbled, make sure that the character code for saving the file is UTF-8.

<pre>
morbo serve.pl
</ pre>