<h2> Display image </ h2>

Let's display the image in the article. With easy-to-understand illustrations, the quality of the article will be greatly improved.

Let's try Linux Penguins as an example of the image.

<img src = "/ images / linux-penguin.png">

The above is the example displayed.

<h3> Place the image </ h3>

First, you need to place the image.

Assuming that the name of the prepared image is "linux-penguin.png", let's place the image in the following directory.

<pre>
templates / static / images
</ pre>

Place your images in this directory.

<h3> Display image </ h3>

After arranging the images, let's display the images.

Add the following line to your article.

<pre>
<img src = "/ images / linux-penguin.png">
</ pre>

The image is displayed.

The img tag is an HTML function for displaying images. Specify the image path in the attribute called src.

<h3> FAQ </ h3>

<h4> I want to specify the size of the image </ h4>

If you want to specify the size of the image, use a stylesheet and write:

<pre>
<img src = "/ images / linux-penguin.png" style = "width: 400px">
</ pre>

<img src = "/ images / linux-penguin.png" style = "width: 400px">

<h4> I want to support the image size on both smartphones and PCs </ h4>

If you want to support the size of the image on both smartphones and PCs, write as follows.

For smartphones, it is displayed at 98% of the horizontal screen, and for PCs, it is displayed at 400px.

<pre>
<img src = "/ images / linux-penguin.png" style = "width: 98%; max-width: 400px;">
</ pre>

<img src = "/ images / linux-penguin.png" style = "width: 98%; max-width: 400px;">

<h4> I want to surround the image with a border </ h4>

If you want to surround the image with a border, write as follows.

<pre>
<img src = "/ images / linux-penguin.png" style = "border: 1px solid #ddd">
</ pre>

<img src = "/ images / linux-penguin.png" style = "border: 1px solid #ddd">

Surrounded by a 1px light gray border.

<h4> Is it okay to place images in subdirectories? </ H4>

Yes.

<pre>
templates / static / images / foo / bar.png
</ pre>

It's okay to have a subdirectory like this.

The image is specified

<pre>
<img src = "/ images / foo / bar.png">
</ pre>

Will be.