<h2> Add a page </ h2>

Let's add a page to our website.

As an example, let's add a profile page "profile.html".

To add a page, just place the file in the "templates" directory.

<pre>
templates templates
</ pre>

Create "profile.html" in this directory.

Open it in a text editor and edit it.

Let's write a brief profile.

<pre>
<h2> Perl Seminar Profile </ h2>

I'm creating a website in Perl.

Thank you.
</ pre>

Write the title inside the "h2" tag. Write the text paragraph by paragraph as above.

As a caveat, do not put a half-width space at the beginning.

This is because if you insert a half-width space at the beginning, the automatic line feed function will be disabled.

If the characters are garbled, make sure that the character code for saving the file is UTF-8.

<pre>
morbo serve.pl
</ pre>

You can access the page at the following URL:

<pre>
http://127.0.0.1:3000/profile.html
</ pre>

To link to this page, write the following on another page:

<pre>
<a href="/profile.html"> Perl Seminar Profile </a>
</ pre>

You can also create pages in the "templates" directory by creating subdirectories.

<pre>
templates / menu / service.html
</ pre>

Please note that do not place files in the initially created "blog", "common" and "static" directories.

This directory is reserved as a special directory.