<h2> Join the Giblog forum </ h2>

The Giblog Forum is a forum on the Web where Giblog users can participate and ask and answer questions. If you don't know how to use Giblog or publish your website, join the Giblog forum.

The Giblog forum is operated by a communication tool called <a href="https://slack.com/intl/ja-jp/"> Slack </a>.

<blockquote>
  <a href="https://giblog.slack.com"> Giblog Forum --Slack </a>
</ blockquote>

To participate in the Giblog forum, please submit your email address using the form below. Once the approval process is complete, you can join the Giblog forum. It is usually approved within 1-2 days.

<blockquote>
  <a href="https://forms.gle/cGKF2CBFV5XGnXF86"> Giblog Forum Participation Form </a>
</ blockquote>

<h3> Participate in the Giblog forum </ h3>

To join the Giblog Forum, please visit <a href="https://giblog.slack.com"> Giblog Forum </a> and send us your email address.

You will receive an approval email from the Giblog forum admin. When you receive the approval email, click the link to the Giblog forum to join the forum.

<h3> What can I ask in the Giblog forum? </ H3>

The Giblog forum is currently preparing the following channels. A channel is a theme, isn't it? Ask questions on the channel that suits your purpose. If you don't know, ask a question in the "chat room". "Where should I write this question?" (Example)

<h4> Miscellaneous room </ h4>

This is a channel that members of the Giblog forum can write freely.

<h4> Installation </ h4>

If you have any questions about installing Giblog, you can ask here.

Giblog <a href="/blog/20190826074335.html"> supports Windows, Linux and Mac OS </a>. If you can't install Perl or Giblog, ask a question here.

<h4> How to use git </ h4>

Giblog can <a href="/blog/20190809083515.html"> manage all pages with Git </a>, but if you don't know how to use Git, ask here.

You need to know how to use Linux to some extent as a prerequisite for git, but questions about that are also OK here.

<h4> Design theme </ h4>

You can ask questions about design themes such as HTML and CSS here. If you want to redesign your site but don't know how to do it, ask here.

<a href="/blog/20190819080050.html"> Smartphone support </a> may not be understood, <a href="/blog/20190816080249.html"> SEO measures </a>, etc. Questions are also OK.

<h4> Customize </ h4>

If you want to <a href="/blog/20190827080034.html"> customize your Giblog for your own site </a>, you can ask here.

You can ask questions about customizing Giblog, such as wanting to set up a Twitter card or how to write in markdown.

You can also ask the <a href="https://perlzemi.com/"> Perl </a> itself questions needed for customization here.

If you have a question about creating a <a href="/blog/20190820075913.html"> inquiry form </a>, you can also click here.

<h4> Publishing the site </ h4>

Gitblog explains how to use <a href="/blog/20190828064434.html"> Gihub Pages </a> as a simple and free way to publish your site.

Here you can ask questions about publishing your site, such as how to publish your Giblog website on a rental server, how to get a domain, how to set up SSL, and more.

<h4> Site promotion </ h4>

Sites created with Giblog can be made known to forum members here. If you want to know your site, write a brief description of your site here and promote it.

Sites that are offensive to public order and morals, violent sites, or sexual sites are write-protected.

<h4> Bug report </ h4>

You can report bugs in Giblog itself here.

<h4> Developer </ h4>

This is a channel for developers.

<h3> Participate in the Giblog forum </ h3>

We look forward to your participation in the Giblog forum. Anyone can participate. To register, just send your email address. Would you like to complete your website?

<blockquote>
  <a href="https://forms.gle/cGKF2CBFV5XGnXF86"> Join the Giblog Forum </a>
</ blockquote>