<h2> Edit the footer </h2>

Let's edit the footer. The footer is the bottom part of the website.

This is where the copyright, company name, and auxiliary information are displayed.

The footer is written in the following file.

<pre>
templates / common / footer.html
</pre>

Let's open this file.

The footer of the website created by Giblog is as follows.

<pre>
<!-footer-><a href="https://en.perlzemi.com/"> Production Perl Zemi</a>
</pre>

If you want to edit the footer, try changing this part.