<h2> Edit the sidebar </h2>

Let's edit the sidebar.

You can write a table of contents for the site and supplementary information.

The sidebar is written in the following file.

<pre>
templates / common / side.html
</pre>

Let's open this file.

The sidebar of the website created by Giblog is as follows.

<pre>
<!-Side-><div class = "side-list">
   <div class = "side-list-title">
     menu
   </div>
   <ul>
     <li> <a href="/blog/20190416153053.html"> Create a personal blog on Windows</a> </li>
     <li> Create a personal blog on your Mac </li>
     <li> Create a personal blog on Linux </li>
   </ul>
</div>
</pre>

If you want to edit the sidebar, try changing this part.