<h2> Publish the site completely free of charge using Github Pages </h2

With Giblog, you can publish your own site completely free of charge using Gibhub Pages. There is an easy way to publish a website created with Giblog for free using Github.

<h3> Publish the site completely free of charge using Github Pages </h3>

Let's publish the site using Github Pages.

It is a feature of Github Pages.

<ul>
  <li> You can publish static sites (HTML, CSS, images, JavaScript). </li>
  <li> URL is https://username.github.io </li>
  <li> You can specify your own domain </li>
  <li> The capacity of the site is up to 1GB. Requests up to 100GB or 100,000 per month. </li>
</ul>

Creating Github Pages is easy. Just create the following repository and push the public repository created by Giblog.

<pre>
Username.github.io
</pre>

You can also specify your own domain later! Since it also supports SSL, you can operate it on the "https" site.

If your Github user ID is "yuki-kimoto"

<pre>
yuki-kimoto.github.io
</pre>

Please create the repository on Github.

Then specify this repository as the git repository for public files.

<pre>
cd mysite
cd public
git remote add origin git@github.com:yuki-kimoto/yuki-kimoto.github.io.git
</pre>

If you have already specified another location, delete it.

<pre>
git remote remove origin
</pre>

All you have to do is push as you normally would.

<pre>
git push origin master
</pre>

<h3> Public URL of Github Pages </h3>

After pushing, let's check the site.

In the case of the above example, you can access it at the following URL.

<blockquote>
<a href="https://yuki-kimoto.github.io"> https://yuki-kimoto.github.io</a>
</blockquote>

Did you see the page?

If the page turns to 404, Github may not recognize index.html as the top page.

In that case, add a meaningless character string such as a blank to index.html, commit, and try pushing again.

Or wait for about 5 minutes. The top page of Github Pages may not be an immediate reflection.

<h3> How do I have multiple Github Pages </h3>

One Github Pages is provided for each user ID, so if you want to have multiple Github Pages, you need multiple user IDs.

<h3> I don't know how to use Git and Github </h3>

In the near future, we plan to create a page that explains how to use Git and Github.

There are many sites already mentioned about Git and Github, so it's a good idea to search for them.